* {
    box-sizing: border-box;
}

body {
    background-color: darkgreen;
}

form {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px auto;
    background-color: gray;
}

.image {
    width: 1120px;
    height: 600px;
    border: 10px solid black;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 5px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: black;
}

.count {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}