.input {
    outline: none;
    border: 2px solid silver;
    border-radius: 5px;
    width: 20rem;
    padding: 10px;
}

.btn {
    border: none;
    outline: none;
    background-color: rgb(3, 148, 3);
    padding: 11px 15px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(4, 167, 4);
}