.chessboard
{
    border: 3px solid black;
    border-spacing: 0;
}
.sides
{
    background-color: #322e2b;
    width:20px;
    text-align:center;
    color:#8f8b8a;
}
.cells
{
    height:50px;
    width:50px;
    
}
#blackcell
{
    background-color:#B48564;
}
#whitecell
{
    background-color:#F3DBB4;
}